@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.container {
  position: relative;
}
svg {
  postition: relative;
}
.container h2 {
  font-size: 2em;
}
.container h4 {
  margin-bottom: 34px;
}
.tile-text {
  cursor: default;
}
#legend {
  width: 960px;
  height: 150px;
  margin: 15px auto 0 auto;
}
#legendSVG {
  width: 960px;
  margin: 0 auto;
}
.legendElement {
  width: 70px;
  margin: 10px;
}
